.GameBoard .Header {
  font-size: 30px;
  margin-left: 30px;
}

.Board {
  margin-left: 30px;
  border: 7px solid #53346d;
  width: 300px;
  height: 300px;
  margin-top: 15px;
  box-sizing: content-box;
  background-color: #53346d;
  border-radius: 5px;
}

.Row {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 33.3333%;
}

.Box {
  border: 2px solid #53346d;
  background-color: white;
  border-radius: 5px;
  height: 100%;
  width: 33.3333%;
  float: left;
  padding: 0;
}

.Box:hover {
  background-color: #e0e0e2;
}

.Cross {
  background-color: #90d4dd;
}

.Cross:before {
  font-size: 100px;
  top: -5px;
  left: 10px;
  position: relative;
  color: #00078E;
  text-shadow: -3px 2px 0px rgba(255, 255, 255,1);
}

.Cross:hover {
  background-color: #90d4dd;
}

.Circle {
  background-color: #90d4dd;
}

.Circle:before {
  font-size: 95px;
  top: 0;
  left: 10px;
  position: relative;
  color: #E24444;
  text-shadow: -3px 2px 0px rgba(255, 255, 255,1);
}

.Circle:hover {
  background-color: #90d4dd;
}