.SearchElement {
  max-width: 600px;
  min-width: 500px;
  margin-left: 30px;
  margin-top: 60px;
  display: inline-block;
  width: 100%;
}

.SearchElement p {
  font-size: 30px;
}

.SearchElement button {
  min-width: 200px;
  width: 200px;
  background-color: #53346d !important;
}

.SearchElement button:hover, .SearchElement button:active {
  background-color: #43265c !important;
}
